main {
    width: 100%;
    justify-content: center;
}

div.error-container {
    margin: 50px auto;
    text-align: center;
}

p.error-code {
    font-size: 300%;
    font-weight: bold;
}

p.error-msg {
    font-size: 250%;
    font-weight: bold;
}

