main {
    width: 100%;
    justify-content: center;
}

div.error-container {
    text-align: center;
    margin-top: 50px;
}

p.error {
    font-size: 300%;
    font-weight: bold;
}

p.desc {
    font-size: 250%;
    font-weight: bold;
}

